/* The following code sets default padding, margin and box-sizing for all elements, and their pseudo-elements */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* The background color is set to a translucent gray, with full width and dynamic height */
body {
  background-color: #ffd7007d;;
  width: 100%;
}

/* The header element takes up 50% width, is centered, and has a margin on top and left */
header {
  width: 50%;
  text-align: center;
  margin-top: 5%;
  height: auto;
  margin-left: 5%;
  font-size: 1.5em;
  font-variant: small-caps;
}

header,
h2,
.refresh {
  font-variant: small-caps;
}

/* The main element uses flexbox to align items in a row, with a 5% gap between them */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
  width: 100%;
  height: auto;
  align-items: center;
}

/* The recent class is used to style a group of items, with a larger font size and font weight */
.recent {
  display: flex;
  justify-content: space-between;
  font-size: 3em;
  font-weight: 500;
}

/* The button element within the recent class has some specific styling */
.recent button {
  height: auto;
  width: 100%;
  box-shadow: 3px 4px;
  font-size: 0.5em;
  cursor: pointer;
  padding: 1%;
}

/* All list items have no bullet points and some padding */
li {
  list-style: none;
  padding: 2% 3%;
  font-size: 1.5em;
}

/* The display-score and add-score classes are used to display and add scores */
.display-score,
.add-score {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 94vh;
  margin: 5% 0;
}

/* The display-score class takes up 40% width and has dynamic height */
.display-score {
  width: 40%;
  height: 100vh;
}

/* A form element is used to collect input */
form {
  display: flex;
  flex-direction: column;
}

/* The name and score fields have some padding */
#name,
#score {
  padding: 5%;
}

input:focus {
  outline: none;
}

/* The scores element has a black border and dynamic width and height */
.scores {
  width: 100%;
  height: auto;
  padding: 1%;
  box-shadow: 0px 0px 10px rgb(255, 2, 2);
}

/* The button element with the id "button" has specific styling */
.button,
.hover {
  height: auto;
  width: 40%;
  align-self: flex-end;
  box-shadow: 3px 4px;
  cursor: pointer;
  padding: 3%;
}

#name,
#score,
.button,
.hover,
.recent button {
  border: none;
  box-shadow: 0px 0px 10px rgb(255, 2, 2);
}

/* The footer element is positioned at the bottom of the page and has a gray background color */
footer {
  background-color: gray;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer h2 {
  text-align: center;
  color: #fff;
  padding: 0.5%;
}

@keyframes moving {
  0% {
    transform: translate(0, 0)
  }
  50% {
    transform: translate(-450px, 0)
  }
  100% {
    transform: translate(-900px, 0)
  }
}

.hover {
  animation: moving 1s infinite linear;
}

